body {
  font-family: 'Lato', sans-serif;
}

.App {
  text-align: center;
  background-color: aquamarine;
  width: 90%;
  margin: auto;
  padding: 5px;
}

.nav {
  height: 50px;
  width: 100;
}

.nav-link {
  margin: 5px
}

