ul > li {
    list-style: none;
}

.grid-addnote {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 10fr 2fr;
}

.note-card {
    padding: 0.5em;
}

.grid-filters {
    gap: 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
    margin-bottom: 1rem;
}

.grid-filters > div {
    padding: 0.5em;
}
.textarea-container {
    margin-top: 0.5em;
}

